/* You can add global styles to this file, and also import other style files */

@import 'variables';

html,body,p{
    color: $main-text-color;
}

.house{
    color:#a72da3;
}


.condo{
    color:#bf1818;
}

.apartment{
    color: #d68000;
}